/*
  Arquitectura de estilos
  1. Posicionamiento
  2. Modelo de caja
  3. Tipografia
  4. Visuales
  5. Otros
*/

:root {
  /*Paleta de colores*/
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D4;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --white: #FFFFFF;
}

*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
}

.header__title-container h1 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 25px;
  color: var(--white);
}

.header__title-container p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header__title-container .header__button {
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  background: var(--off-white);
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  width: 229px;
  height: 48px;
  font-size: 1.4rem;
  color: var(--warm-black);
  font-weight: bold;
  text-decoration: none;
  left: calc(50% - 118px);
}

.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
  min-width: 320px;
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container__backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('/assets/img/bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container__title h2 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);
  margin-bottom: 24px;
}

.main-exchange-container__title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
  margin-bottom: 24px;
}

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 260px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: #FF9536;
  font-family: 'DM Sans', sans-serif;
}

.main-currency-table__title-secondary {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color:var(--secondary-blue);
  font-family: 'DM Sans', sans-serif;
}

.main-currency-table__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  
}

.main-currency-table__container table {
  width: 100%;
  
}

.main-currency-table__container td {
  width: 50%;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--white);
}

.trending-down-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.trending-up-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.main-currency-table__container .main-currency-table__top-left {
  border-radius: 1.5rem 0 0 0;
} 

.main-currency-table__container .main-currency-table__top-right {
  border-radius: 0 1.5rem 0 0;
} 

.main-currency-table__container .main-currency-table__bottom-left {
  border-radius: 0 0 0 1.5rem;
} 

.main-currency-table__container .main-currency-table__bottom-right {
  border-radius: 0 0 1.5rem 0;
} 

.main-currency-table__container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.main-currency-table__date {
  width: 80%;
  height: 30px;
  margin: 1.6rem auto;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.main-currency-table__date-secondary {
  width: 80%;
  margin: 1.6rem auto;
  height: 30px;
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}

.main-currency-table__date p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.main-currency-table__date-secondary p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--warm-black)
}